* text=auto !eol
/CMakeLists.txt -text
/LICENSE.txt -text
/README.txt -text
/copysrc.py -text
launch/display.launch -text
launch/xsens_mti_node.launch -text
/package.xml -text
param/xsens_mti_node.yaml -text
rviz/display.rviz -text
rviz/example.rviz -text
src/main.cpp -text
src/messagepublishers/accelerationpublisher.h -text
src/messagepublishers/angularvelocitypublisher.h -text
src/messagepublishers/freeaccelerationpublisher.h -text
src/messagepublishers/gnsspublisher.h -text
src/messagepublishers/imupublisher.h -text
src/messagepublishers/magneticfieldpublisher.h -text
src/messagepublishers/orientationincrementspublisher.h -text
src/messagepublishers/orientationpublisher.h -text
src/messagepublishers/packetcallback.h -text
src/messagepublishers/pressurepublisher.h -text
src/messagepublishers/temperaturepublisher.h -text
src/messagepublishers/timereferencepublisher.h -text
src/messagepublishers/transformpublisher.h -text
src/messagepublishers/twistpublisher.h -text
src/messagepublishers/velocityincrementpublisher.h -text
src/xdacallback.cpp -text
src/xdacallback.h -text
src/xdainterface.cpp -text
src/xdainterface.h -text
urdf/MTI_1.stl -text
urdf/MTI_1.urdf -text
urdf/MTI_10.stl -text
urdf/MTI_10.urdf -text
